{#
 # -------------------------------------------------------------------------
 # advancedforms plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2025 by the advancedforms plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/advancedforms
 # -------------------------------------------------------------------------
 #}

{# Note: do not use the `|slug` filter here, this values will be checked from the
   unit tests so it need to call the same "source" method #}
{% set slug = call('Toolbox::Slugify', [
    get_class(item)
] ) %}

<div
    class="col-12 col-lg-6 col-xxl-4 mb-2"
    data-testid="feature-{{ slug }}"
>
    <div class="card cursor-pointer rounded h-100">
        <div class="card-body d-flex flex-row">
            <i class="{{ item.getConfigIcon() }} fa-2x me-3 align-self-center"></i>

            <div>
                <h3 class="mb-1">{{ item.getConfigTitle() }}</h3>
                <span class="text-muted">{{ item.getConfigDescription() }}</span>
            </div>

            <label class="form-check mb-0 ms-auto form-switch">
                <input
                    type="hidden"
                    value="0"
                    name="{{ item.getConfigKey() }}"
                >
                <input
                    aria-label="{{ __("Active") }}"
                    data-glpi-toggle-control
                    class="form-check-input"
                    type="checkbox"
                    name="{{ item.getConfigKey() }}"
                    value="1"
                    data-testid="feature-toggle"
                    {{ config_manager.isConfigurableItemEnabled(item) == true ? "checked" : "" }}
                >
            </label>
        </div>
    </div>
</div>
