{#
 # -------------------------------------------------------------------------
 # advancedforms plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2025 by the advancedforms plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/advancedforms
 # -------------------------------------------------------------------------
 #}

<div class="py-2 px-3 ms-0">
    <h2
        data-testid="advanced-forms-config-header"
        class="d-flex align-items-center"
    >
        <i class="ti ti-forms me-2"></i>
        {{ __("Advanced forms plugin configuration", "advancedforms") }}
    </h2>

    <form
        method="POST"
        action="{{ 'Config'|itemtype_form_path }}"
        data-track-changes="true"
    >
        <h3 class="mb-3">
            <i class="ti ti-forms me-2"></i>
            {{ __("Question types", "advancedforms") }}
        </h3>
        <div class="row">
            {% for question_type in question_types %}
                {{ include('@advancedforms/configurable_item.html.twig', {
                    config_manager: config_manager,
                    item: question_type,
                }, with_context: false) }}
            {% endfor %}
        </div>

        <h3 class="mb-3 mt-4">
            <i class="ti ti-clock-play me-2"></i>
            {{ __("SLA/OLA strategies", "advancedforms") }}
        </h3>
        <div class="row">
            {% for slm_strategy in slm_strategies %}
                {{ include('@advancedforms/configurable_item.html.twig', {
                    config_manager: config_manager,
                    item: slm_strategy,
                }, with_context: false) }}
            {% endfor %}
        </div>

        <input type="hidden" name="config_context" value="advancedforms"/>
        <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}"/>

        <div class="mx-n2 d-flex">
            <button
                type="submit"
                class="btn btn-primary mt-5 ms-auto"
                name="update"
                value="1"
            >
                <i class="ti ti-device-floppy me-2"></i>
                <span> {{ __("Save") }} </span>
            </button>
        </div>
    </form>
</div>
