{#
 # -------------------------------------------------------------------------
 # advancedforms plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # MIT License
 #
 # Permission is hereby granted, free of charge, to any person obtaining a copy
 # of this software and associated documentation files (the "Software"), to deal
 # in the Software without restriction, including without limitation the rights
 # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 # copies of the Software, and to permit persons to whom the Software is
 # furnished to do so, subject to the following conditions:
 #
 # The above copyright notice and this permission notice shall be included in all
 # copies or substantial portions of the Software.
 #
 # THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 # SOFTWARE.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2025 by the advancedforms plugin team.
 # @license   MIT https://opensource.org/licenses/mit-license.php
 # @link      https://github.com/pluginsGLPI/advancedforms
 # -------------------------------------------------------------------------
 #}

{% import 'components/form/fields_macros.html.twig' as fields %}

{{ fields.hiddenField(question.getEndUserInputName() ~ '[itemtype]', itemtype) }}
{{ fields.hiddenField(final_items_id_name, default_items_id) }}

{% if ancestor_chain|length > 0 %}
    {% for i, node in ancestor_chain %}
        {% set is_last = loop.last %}
        {% set level_rand = rand_tree + i %}

        {% if i == 0 %}
            {% set temp_name = 'temp_tree_level_' ~ level_rand %}
            {% set selector_id = 'dropdown_' ~ temp_name ~ level_rand %}
            <div class="af-tree-level-wrapper">
            {{ fields.dropdownField(
                itemtype,
                temp_name,
                node.id,
                '',
                {
                    'init'               : true,
                    'no_label'           : true,
                    'right'              : 'all',
                    'width'              : '100%',
                    'mb'                 : '',
                    'comments'           : false,
                    'addicon'            : false,
                    'aria_label'         : aria_label,
                    'nochecklimit'       : true,
                    'display_emptychoice': true,
                    'rand'               : level_rand,
                    'condition'          : {(tree_table ~ '.level'): 1}|merge(dropdown_restriction_params),
                }
            ) }}
            </div>
        {% else %}
            {% set selector_id = 'tree_cascade_level_' ~ level_rand %}
            <div class="col-12 col-sm-6 af-tree-level-wrapper mt-2">
                <select
                    id="{{ selector_id }}"
                    class="form-select af-tree-cascade-select"
                    aria-label="{{ aria_label }}"
                    data-af-tree-field-name="{{ final_items_id_name }}"
                    data-af-tree-itemtype="{{ itemtype }}"
                    data-af-tree-condition="{{ dropdown_restriction_params|json_encode() }}"
                    data-af-tree-ajax-limit="{{ ajax_limit_count }}"
                >
                    <option value="0">---</option>
                    {% for sibling in node.siblings %}
                        <option value="{{ sibling.id }}" {{ sibling.id == node.id ? 'selected' : '' }}>{{ sibling.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <script>
        $(function() {
            new AfTreeCascadeDropdown({
                selector_id: '{{ selector_id }}',
                field_name: '{{ final_items_id_name }}',
                itemtype: '{{ itemtype }}',
                aria_label: '{{ aria_label }}',
                condition: {{ dropdown_restriction_params|json_encode()|raw }},
                ajax_limit_count: {{ ajax_limit_count }},
                level: {{ i + 1 }},
                {% if is_last %}
                next_container_id: '{{ level2_container }}',
                auto_load_parent_id: {{ node.id }},
                {% endif %}
            });
        });
        </script>

        {% if is_last %}
            <div id="{{ level2_container }}" class="{{ i == 0 ? 'col-12 col-sm-6 ' : '' }}af-tree-next-container"></div>
        {% endif %}
    {% endfor %}

{% else %}
    {% set temp_level1_name = 'temp_tree_level1_' ~ rand_tree %}
    {% set selector_id = 'dropdown_' ~ temp_level1_name ~ rand_tree %}
    <div class="af-tree-level-wrapper">
    {{ fields.dropdownField(
        itemtype,
        temp_level1_name,
        0,
        '',
        {
            'init'               : true,
            'no_label'           : true,
            'right'              : 'all',
            'width'              : '100%',
            'mb'                 : '',
            'comments'           : false,
            'addicon'            : false,
            'aria_label'         : aria_label,
            'nochecklimit'       : true,
            'display_emptychoice': true,
            'rand'               : rand_tree,
            'condition'          : {(tree_table ~ '.level'): 1}|merge(dropdown_restriction_params),
        }
    ) }}
    </div>

    <div id="{{ level2_container }}" class="col-12 col-sm-6 af-tree-next-container"></div>

    <script>
    $(function() {
        new AfTreeCascadeDropdown({
            selector_id: '{{ selector_id }}',
            field_name: '{{ final_items_id_name }}',
            itemtype: '{{ itemtype }}',
            aria_label: '{{ aria_label }}',
            condition: {{ dropdown_restriction_params|json_encode()|raw }},
            ajax_limit_count: {{ ajax_limit_count }},
            next_container_id: '{{ level2_container }}',
        });
    });
    </script>
{% endif %}
